{% extends "layout.html" %}

{% block nav %}
 <nav role="navigation" class="navbar navbar-default navbar-custom">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div   class="navbar-header">

        <button   type="button" data-target="#navbarCollapsePostLogin" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{{url_for('home')}}" class="navbar-brand navbar-left">
           Smart Water Meter</a>

    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapsePostLogin" class="collapse navbar-collapse navbar-right">
         {% if current_user.is_authenticated %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="#monthly_usage">Monthly Usage</a></li>
            <li><a href="#weekly_usage">Weekly Usage</a></li>
            <li><a href="#">Hourly Usage</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
        </ul>
        {% endif %}

    </div>
</nav>
{% endblock %}

{% block header %}
    <div class="container">
        <div class="intro-text">
            <div class="intro-welcome">Welcome {{ current_user.name }}</div>
            <div class="intro-usage">Last month water usage: {{usage.last}} Ltr</div>
            <div class="intro-usage">Current month water usage: {{usage.current}} Ltr</div>

        </div>
        {% if current_user.is_association() %}
            <a href="{{ url_for('dashboard_page') }}" role="button"  class="btn btn-success btn-lg">Dashboard</a>
        {% endif %}
    </div>
{% endblock %}


{% block body %}

    <div id="monthly_usage" class="container section" border="5">
        <div class="row">
            <div class="col-sm-4 section-title">
                Monthly Water Consumption
            </div>
            <div class="col-sm-8">
                <div id="monthly_usage_chart" class="chart" ></div>
            </div>
        </div>
    </div>
    <div id="weekly_usage" class="container section"  border="5">
        <div class="row">
            <div class="col-sm-4  section-title">
                Weekly Water Consumption
            </div>
            <div class="col-sm-8">
                <div id="weekly_usage_chart" class="chart"></div>
            </div>
        </div>
    </div>
    <div >
        {{usage.monthly}}
    </div>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawMonthlyUsage);
        google.charts.setOnLoadCallback(drawWeeklyUsage);

        $(window).resize(function(){
            drawMonthlyUsage();
            drawWeeklyUsage();
        });


        var monthNames = ["January", "February", "March", "April", "May", "June",
                          "July", "August", "September", "October", "November", "December"];

        var weekNames = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday" ,"Saturday", "Sunday"];


        function drawMonthlyUsage() {
            var data = new google.visualization.arrayToDataTable([
                ['Month', 'Volume'],
                {% if current_user.is_authenticated %}
                   {% for key in usage.monthly.keys()|sort: %}
                         ["{{key.strftime("%b %Y")}}", {{usage.monthly[key]}}],
                   {% endfor %}
                {% endif %}
/*
                {% if current_user.is_authenticated %}
                   {% for month,vol in usage.monthly.items(): %}
                        ["monthNames[{{month}}-1]",{{vol}}],
                   {% endfor %}
                {% endif %}
          */
                ]);

            console.log("-------");
            console.log(data);
            console.log("-------");


            var options = {
                title: "Water used in liters",
                bar: {groupWidth: "95%"},
                legend: { position: "none" },
                hAxis: {
                    title: 'Months',
                    textStyle: {
                        fontName: 'Chango',
                        fontSize: '18'
                    }
                },
                vAxis: {title: 'Vol in Ltr'},
            };

/*

        var options = {
            title: 'Water used in liters',
            legend: { position: 'none' },
            chart: { title: 'Water consumption',
                     subtitle: 'Usage in liters' },
            bars: 'vertical', // Required for Material Bar Charts.
            axes: {
                x: {
                    0: { side: 'top', label: 'Volume in Liters'} // Top x-axis.
                }
            },

        };
*/
            var chart = new google.charts.Bar(document.getElementById('monthly_usage_chart'));
            chart.draw(data, options);
        };

        function drawWeeklyUsage() {
            var data = new google.visualization.arrayToDataTable([
                ['Month', 'Volume'],

                {% if current_user.is_authenticated %}
                   {% for week,vol in usage.weekly.items(): %}
                        [weekNames[{{week}}],{{vol}}],
                   {% endfor %}
                {% endif %}
                ]);

            console.log("-------");
            console.log(data);
            console.log("-------");


            var options = {
                title: "Water used in liters",

                bar: {groupWidth: "95%"},
                legend: { position: "none" },
                hAxis: {
                    title: 'Months',
                    textStyle: {
                        fontName: 'Chango',
                        fontSize: '18'
                    }
                },
                vAxis: {title: 'Vol in Ltr'},
            };

/*

        var options = {
            title: 'Water used in liters',
            legend: { position: 'none' },
            chart: { title: 'Water consumption',
                     subtitle: 'Usage in liters' },
            bars: 'vertical', // Required for Material Bar Charts.
            axes: {
                x: {
                    0: { side: 'top', label: 'Volume in Liters'} // Top x-axis.
                }
            },

        };
*/
            var chart = new google.charts.Bar(document.getElementById('weekly_usage_chart'));
            chart.draw(data, options);
        };


    </script>

{% endblock %}